<!-- Main Sidebar-->
<div
id="menu-main"
data-menu-active="nav-comps"
data-menu-load="menu-main.html"
style="width: 280px"
class="offcanvas offcanvas-start offcanvas-detached rounded-m"
></div>
<!-- Menu Highlights-->
<div
id="menu-color"
data-menu-load="menu-highlights.html"
style="height: 340px"
class="offcanvas offcanvas-bottom offcanvas-detached rounded-m"
></div>

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-small">

<div data-card-height="600" class="card card-style bg-18 rounded-l shadow-l">
  <div class="card-overlay bg-gradient-fade">
<!-- Weather slider inside background card -->

    <!-- Carousel start --------------------------- -->
<div id="carouselExampleNoRide" class="carousel slide is-static" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div
          data-card-height="600"
          class="card rounded-m shadow-l"
        >
        <div class="card-center text-center m-3">
          <div class="main-weather">

            <div class="main-temp-and-feelslike">

              <span class="main-temp font-50">74°</span>
              <span class="font-8 feelslike-text">
                <span class="feels-text">feels</span>
                <span class="like-text font-10">&nbsp;like</span>
              </span>
              <span class="feels-like-temp font-34">89°</span>
            </div>

            <div class="main-center-section">

              <div class="left-main">
                <h5>L 64°</h5>
                <hr class="main-divider"/>
                <div class="wind-container">
                  <img src="images/wind-icons-light/NNE.png" class="wind-image"></img>
                  <span class="font-12 wind-text">
                    <span class="wind-num-text">4</span>
                    <span class="mph-text">mph</span>
                  </span>
                </div>
                <i class="bi bi-sunrise font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;6:45<span class="rise-dif">-7</span></i>
                <i class="bi bi-sunset font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;8:30<span class="set-dif">+4</span></span></i>
                
              </div>

              <div class="center-main">
                <img
                  src="hd-icons/03d.png"
                  alt=""
                  srcset=""
                  id="main-weather-icon"
                />
                <h5 class="'main-weather-desc">Scattered Clouds</h5>
              </div>

              <div class="right-main">
                <h5>H 91°</h5>
                <hr class="main-divider"/>
                <i class="bi bi-umbrella font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;&nbsp;12%</span></i>
                <i class="bi bi-moisture font-18 color-theme"><span class="humidity-icon"><span class="humidity-text font-14"> &nbsp;&nbsp;&nbsp;6%</span></i>
                
              </div>
              </div>
            </div>
          </div>
          <div
            class="card-overlay rounded-m bg-gradient-fade opacity-90"
          ></div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item active">
        <div
              data-card-height="600"
              class="card rounded-m shadow-l"
            >
            <div class="card-center text-center m-3">
              <div class="main-weather">

                <div class="main-temp-and-feelslike">

                  <span class="main-temp font-50">74°</span>
                  <span class="font-8 feelslike-text">
                    <span class="feels-text">feels</span>
                    <span class="like-text font-10">&nbsp;like</span>
                  </span>
                  <span class="feels-like-temp font-34">80°</span>
                </div>

                <div class="main-center-section">

                  <div class="left-main">
                    <h5>L 64°</h5>
                    <hr class="main-divider"/>
                    <div class="wind-container">
                      <img src="images/wind-icons-light/NNE.png" class="wind-image"></img>
                      <span class="font-12 wind-text">
                        <span class="wind-num-text">4</span>
                        <span class="mph-text">mph</span>
                      </span>
                    </div>
                    <i class="bi bi-sunrise font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;6:45<span class="rise-dif">-7</span></i>
                    <i class="bi bi-sunset font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;8:30<span class="set-dif">+4</span></span></i>
                    
                  </div>

                  <div class="center-main">
                    <img
                      src="hd-icons/03d.png"
                      alt=""
                      srcset=""
                      id="main-weather-icon"
                    />
                    <h5 class="'main-weather-desc">Scattered Clouds</h5>
                  </div>

                  <div class="right-main">
                    <h5>H 91°</h5>
                    <hr class="main-divider"/>
                    <i class="bi bi-umbrella font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;&nbsp;12%</span></i>
                    <i class="bi bi-moisture font-18 color-theme"><span class="humidity-icon"><span class="humidity-text font-14"> &nbsp;&nbsp;&nbsp;6%</span></i>
                    
                  </div>
                  </div>
                </div>
              </div>
              <div
                class="card-overlay rounded-m bg-gradient-fade opacity-90"
              ></div>
            </div>
    </div>
    <div class="carousel-item">
      
    </div>
  </div>
  <div class="carousel-item">
    <div class="carousel-item active">
      <div
            data-card-height="600"
            class="card rounded-m shadow-l"
          >
          <div class="card-center text-center m-3">
            <div class="main-weather">

              <div class="main-temp-and-feelslike">

                <span class="main-temp font-50">74°</span>
                <span class="font-8 feelslike-text">
                  <span class="feels-text">feels</span>
                  <span class="like-text font-10">&nbsp;like</span>
                </span>
                <span class="feels-like-temp font-34">80°</span>
              </div>

              <div class="main-center-section">

                <div class="left-main">
                  <h5>L 64°</h5>
                  <hr class="main-divider"/>
                  <div class="wind-container">
                    <img src="images/wind-icons-light/NNE.png" class="wind-image"></img>
                    <span class="font-12 wind-text">
                      <span class="wind-num-text">4</span>
                      <span class="mph-text">mph</span>
                    </span>
                  </div>
                  <i class="bi bi-sunrise font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;6:45<span class="rise-dif">-7</span></i>
                  <i class="bi bi-sunset font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;8:30<span class="set-dif">+4</span></span></i>
                  
                </div>

                <div class="center-main">
                  <img
                    src="hd-icons/03d.png"
                    alt=""
                    srcset=""
                    id="main-weather-icon"
                  />
                  <h5 class="'main-weather-desc">Scattered Clouds</h5>
                </div>

                <div class="right-main">
                  <h5>H 91°</h5>
                  <hr class="main-divider"/>
                  <i class="bi bi-umbrella font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;&nbsp;12%</span></i>
                  <i class="bi bi-moisture font-18 color-theme"><span class="humidity-icon"><span class="humidity-text font-14"> &nbsp;&nbsp;&nbsp;6%</span></i>
                  
                </div>
                </div>
              </div>
            </div>
            <div
              class="card-overlay rounded-m bg-gradient-fade opacity-90"
            ></div>
          </div>
  </div>
  <div class="carousel-item">
    
  </div>
</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>





</div>
</div>