<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <title>Weather Station</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="fonts/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="_manifest.json" />
    <meta id="theme-check" name="theme-color" content="#FFFFFF" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="app/icons/icon-192x192.png"
    />
  </head>

  <body class="theme-light">
    <div id="preloader">
      <div class="spinner-border color-highlight" role="status"></div>
      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-information" class="list-group-item">
        <i class="bi bi-info-circle-fill color-blue-dark font-15"></i>
        <div>Information</div>
        <i class="bi bi-chevron-right pe-1"></i>
      </a>
    </div>

    <div id="page">
      
    <!-- Header -->
    <div class="header-bar header-center header-transparent shadow-m">
    <!-- <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
      <a href="#"></a>
    <a href="#" class="header-title city-location-input">
      <span class="city-name">Fetching location data</span>
        <button type="submit" class="city-submit-btn"><i class="bi bi-search font-13"></i></button>
      </a>
    <a href="#" class="show-on-theme-light" data-toggle-theme><i class="bi bi-moon-fill font-13"></i></a>
		<a href="#" class="show-on-theme-dark" data-toggle-theme ><i class="bi bi-lightbulb-fill color-yellow-dark font-13"></i></a>
    <a data-bs-toggle="offcanvas" data-bs-target="#menu-color" href="#"><i class="bi bi-gear-fill font-13 color-highlight"></i></a> -->
  </div>


<!-- Header that is done and working for weather display, will make one above form for searching-->
    <!-- <div class="header-bar header-center header-transparent shadow-m">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
      <a href="#"></a>
    <a href="#" class="header-title city-location-input">
      <span class="city-name">Fetching location data</span>
        <button type="submit" class="city-submit-btn"><i class="bi bi-search font-13"></i></button>
      </a>
    <a href="#" class="show-on-theme-light" data-toggle-theme><i class="bi bi-moon-fill font-13"></i></a>
		<a href="#" class="show-on-theme-dark" data-toggle-theme ><i class="bi bi-lightbulb-fill color-yellow-dark font-13"></i></a>
    <a data-bs-toggle="offcanvas" data-bs-target="#menu-color" href="#"><i class="bi bi-gear-fill font-13 color-highlight"></i></a>
  </div> -->





      <!-- Footer Bar/Container-->
      <div id="footer-bar" class="footer-bar">
        <div class="hourly-bar">
        </div>
        <hr class="hourly-divider"/>
        <div class="daily-bar">          
        </div>
      </div>


      <!-- Main Sidebar-->
      <div
        id="menu-main"
        data-menu-active="nav-comps"
        data-menu-load="menu-main.html"
        style="width: 280px"
        class="offcanvas offcanvas-start offcanvas-detached rounded-m"
      ></div>
      <!-- Menu Highlights-->
      <div
        id="menu-color"
        data-menu-load="menu-highlights.html"
        style="height: 340px"
        class="offcanvas offcanvas-bottom offcanvas-detached rounded-m"
      ></div>

      <!-- Your Page Content Goes Here-->
      <div class="page-content header-clear-small">
        
        <div data-card-height="550" class="card card-style bg-18 rounded-l shadow-l">
          <div class="card-overlay bg-gradient-fade">
        <!-- Weather slider inside background card -->
       
            <!-- Carousel start --------------------------- -->
        <div id="carouselExampleNoRide" class="carousel slide is-static" data-bs-interval="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <!-- <button type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide-to="addcityitem" aria-label="Slide 3"></button> -->
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
            <div
                  data-card-height="550"
                  class="card rounded-m shadow-l"
                >
                <div class="card-center text-center m-3">
                  <!-- <div class="main-weather">

                    <div class="main-temp-and-feelslike">

                      <span class="main-temp font-50">74째</span>
                      <span class="font-8 feelslike-text">
                        <span class="feels-text">feels</span>
                        <span class="like-text font-10">&nbsp;like</span>
                      </span>
                      <span class="feels-like-temp font-34">89째</span>
                    </div>

                    <div class="main-center-section">

                      <div class="left-main">
                        <h5>L 64째</h5>
                        <hr class="main-divider"/>
                        <div class="wind-container">
                          <img src="images/wind-icons-light/NNE.png" class="wind-image"></img>
                          <span class="font-12 wind-text">
                            <span class="wind-num-text">4</span>
                            <span class="mph-text">mph</span>
                          </span>
                        </div>
                        <i class="bi bi-sunrise font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;6:45<span class="rise-dif">-7</span></i>
                        <i class="bi bi-sunset font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;8:30<span class="set-dif">+4</span></span></i>
                        
                      </div>

                      <div class="center-main">
                        <img
                          src="hd-icons/03d.png"
                          alt=""
                          srcset=""
                          id="main-weather-icon"
                        />
                        <h5 class="'main-weather-desc">Cloudy with a chance of meatballs</h5>
                      </div>

                      <div class="right-main">
                        <h5>H 91째</h5>
                        <hr class="main-divider"/>
                        <i class="bi bi-umbrella font-18 color-theme"><span class="rain-chance-icon"><span class="rain-chance-text font-14">&nbsp;&nbsp;&nbsp;12%</span></i>
                        <i class="bi bi-moisture font-18 color-theme"><span class="humidity-icon"><span class="humidity-text font-14"> &nbsp;&nbsp;&nbsp;6%</span></i>
                        
                      </div>
                      </div>
                    </div> -->
                  </div>
                  <div
                    class="card-overlay rounded-m bg-gradient-fade opacity-90"
                  ></div>
                </div>
            </div>
            <div class="carousel-item">
              <div
                    data-card-height="550"
                    class="card rounded-m shadow-l"
                  >
                  <div class="card-center addcity text-center m-3">
                    <div class="card card-style">
                      <div class="content">




                        
                        <h4>List of locations</h4>
                        <div class="list-group list-custom list-group-m rounded-xs">
<!-- This should be a group list of locations saved, all with exit buttons ecept the first one for each etc
Needs to reaload ejs city slide, and make sure header and footer hear event
-->
                          <a href="#" class="list-group-item">
                            <div>Current city</div>
                          </a>

                          <a href="#" class="list-group-item">
                            <div>City 2</div>
                            <i class="bi bi-x-circle-fill color-red-light font-15"></i>
                          </a>
                          
                          <a href="#" class="list-group-item">
                            <div>City 3</div>
                            <i class="bi bi-x-circle-fill color-red-light font-15"></i>
                          </a>
                            </div>

                        </div>
                      </div>
                    </div>
                    </div>
                    <div
                      class="card-overlay rounded-m bg-gradient-fade opacity-90"
                    ></div>
                  </div>
              </div>


          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleNoRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>s

        </div>





      </div>
		</div>
      <!-- End of Page Content-->
    </div>
    <!--End of Page ID-->

    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/custom.js"></script>

  </body>
</html>